body{
    background-color: #6aa4db;
}

input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input::placeholder {
    color: #d3d3d3;
}

.submit{
    background-color: #1fc2ac;
}

.center-column{
    width:600px;
    margin: 20px auto;
    padding:20px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 6px 2px 30px 0px rgba(0,0,0,0.75);
}

.item-row{
    background-color: #16548d;
    margin: 10px;
    padding: 20px;
    border-radius: 3px;
    color: #fff;
    font-size: 16px;
    box-shadow: 0px -1px 10px -4px rgba(0,0,0,0.75);
}

.btn-danger{
    background-color: #ffae19;
    border-color: #e59400;
}

.btn-info {
    background-color: #1fc2ac;
    border-color: #1fc2ac;
}